<div *ngIf="loading==false">
  <app-loading>
  </app-loading>
</div>
<div>
  <h1>Personas Populares</h1>
  <div class="contenedor" *ngIf="loading==true">
    <div class="datosPersonales" *ngFor="let actor of actores">
      <div>
        <a [routerLink]="['/peliculas/actor',actor.id]">
          <img src={{url_imagen+actor.profile_path}} alt="">
        </a>
      </div>
      <div class="peliculasRelacionadas">
        <a [routerLink]="['/peliculas/actor',actor.id]">
          <h3>{{actor.name}}</h3>
        </a>
        <h6>{{actor.known_for_department}}</h6>
        <div class="imgParticipacionPelis" *ngFor="let pelicula of actor.known_for">
          <a [routerLink]="['/peliculas/',pelicula.id]">
            <img src={{url_imagen+pelicula.poster_path}} alt="">
          </a>
          <a [routerLink]="['/peliculas/',pelicula.id]">
            {{pelicula.title}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="botonesPaginacion">
      <button class="btn btn-info mr-1" (click)="paginaAnterior()">Anterior</button>
      <button class="btn btn-info mr-1" (click)="paginaSiguiente()">Siguiente</button>
  </div>
</div>
