
.componenteGeneros{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color:#191d25;
    color:#000000;
    h5{
        color:white;
        margin-left:1vw;
    }
    .contenedorGeneros{
        display:flex;
        flex-direction: column;
        width:40%;
        height:20vh;
        flex-wrap: wrap;
        overflow: auto;
        margin-left:1vw;
        background-color:#f1efef;
        padding:1vw;
        border-radius:4px;
        .contenedorInputs{
            position: relative;
            display:flex;
            overflow: auto;
            align-items:center;
            background-color:#f1efef;
        }
    }
}