<div *ngIf="loading==false">
  <app-loading>
  </app-loading>
</div>
<div class="contenedor" *ngIf="loading!==false">
  <div class="peliculaDetalle">
    <div>
      <img src={{url_imagen+pelicula.poster_path}} alt={{pelicula.title}}>
    </div>
    <div>
      <div class="titulo">
        <h2>{{pelicula.title}}</h2>
      </div>
      <div class="duracionFecha">
        <span>{{pelicula.runtime}}min</span>
        <span>{{pelicula.release_date}}</span>
      </div>
      <div class="idiomas">
        <span *ngFor="let idioma of idiomas">
          {{idioma.name}}
        </span>
      </div>
      <div>
        <a href='https://www.youtube.com/watch?v={{video[0].key}}' target="_blank">Ver tráiler</a>
      </div>
      <div class="descripcion">
        <p>{{pelicula.overview}}</p>
      </div>
      <div class="valoraciones">
        <span>{{pelicula.vote_average}}⭐</span>
        <span>{{pelicula.vote_count}}👍🏻</span>
      </div>
      <div class="generos">
        <span *ngFor="let genero of generos">{{genero.name}}</span>
      </div>
      <div class="companiesProduction">
        <span *ngFor="let company of compa_product ">
          <a [routerLink]="['/peliculas/company',company.id]">
            <img src={{url_imagen+company.logo_path}} alt="">
          </a>
        </span>
      </div>
      <div class="similares">
        <a [routerLink]="['/peliculas/similares',pelicula.id]">
          Peliculas similares
        </a>
      </div>
    </div>
  </div>
  <div class="actores">
    <a *ngFor="let actor of actores" [routerLink]="['/peliculas',pelicula.id,actor.id]">
      {{actor.name}}-
    </a>
  </div>
</div>
