<div *ngIf="loading==false">
  <app-loading>
  </app-loading>
</div>
<div *ngIf="loading==true">
  <h1>Películas Populares</h1>
  <app-generos-peliculas (obtenerGeneros)="filtroGeneros($event)"></app-generos-peliculas>
  <div class="contenedorPeliculas">
    <div class="contendorPelicula" *ngFor="let pelicula of peliculas">
      <img class="" src="{{url_imagen+pelicula.poster_path}}" alt="">
      <div class="descripcionPelicula">
        <h5>{{pelicula.title}}</h5>
        <p>{{pelicula.vote_average}} ★</p>
        <a [routerLink]="['/peliculas/',pelicula.id]">
          Ver más detalles
        </a>
        <p>{{pelicula.overview}}</p>
      </div>
    </div>
  </div>

  <div class="botonesPaginacion">
    <button class="btn btn-info mr-1" (click)="paginaAnterior()">Anterior</button>
    <button class="btn btn-info mr-1" (click)="paginaSiguiente()">Siguiente</button>
  </div>
</div>
