.contenedor {
  padding-top: 10vw;    
  .imagenPerfil{
      display:flex;
      flex-direction: row;
      justify-content: center;
      div{
        margin:0 1vw;
      }
      img{
          border-radius:1em;
      }
  }
  .contenedorPeliculas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2vw;
    background-color: white;

    .contendorPelicula {
      display: flex;
      flex-direction: row;
      width: 30%;
      height: 40vh;
      margin: 1vw;
      border: 1px solid white;
      padding: 1vw;
      border-radius: 1em;
      background-color: white;
      box-shadow: 2px 2px 2px 2px #000000;

      a {}

      img {
        margin-right: 1vw;
        box-shadow: 2px 2px 2px 2px #000000;
        border-radius: 1em;

      }

      .descripcionPelicula {
        overflow: auto;
      }

      .descripcionPelicula::-webkit-scrollbar {
        width: 1em;
      }

      .descripcionPelicula::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 1em;
      }

      .descripcionPelicula::-webkit-scrollbar-thumb {
        background-color: #82d1ff;
        outline: 1px solid slategrey;
        border-radius: 1em;
      }
    }
  }
}

@media (max-width:1200px){
  .contenedor{
    .contenedorPeliculas{
     
      .contendorPelicula{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:30%;
        img{
          width:10vw;
          height:20vh;
        }
        .descripcionPelicula{
          p{
            text-align: justify;
            font-size:1.5vw;
          }
          a{
            font-size:1.5vw;
          }
          h5{
            font-size:2vw;
          }
        }
      }
    }
  }
}

@media (max-width:1000px){
  .contenedor{
    .contenedorPeliculas{
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      .contendorPelicula{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:45%;
        img{
          width:15vw;
          height:20vh;
        }
        .descripcionPelicula{
          p{
            text-align: justify;
            font-size:2vw;
          }
          a{
            font-size:2vw;
          }
          h5{
            font-size:3vw;
          }
        }
      }
    }
  }
}

@media (max-width:800px){
  .contenedor{
    .contenedorPeliculas{
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      .contendorPelicula{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:45%;
        img{
          width:20vw;
          height:20vh;
        }
        .descripcionPelicula{
          p{
            text-align: justify;
            font-size:2vw;
          }
          a{
            font-size:2vw;
          }
          h5{
            font-size:3vw;
          }
        }
      }
    }
  }
}
@media (max-width:500px){
  .contenedor{
    .imagenPerfil{
      img{
        width:30vw;
      }
      div{
        h1{
          font-size:5vw;
        }
      }
    }
    .contenedorPeliculas{
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      .contendorPelicula{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:70%;
        img{
          width:20vw;
          height:20vh;
        }
        .descripcionPelicula{
          p{
            text-align: justify;
            font-size:2vw;
          }
          a{
            font-size:2vw;
          }
          h5{
            font-size:3vw;
          }
        }
      }
    }
  }
}
