.datosActor{
    position: relative;
    display: flex;
    background-color:white;
    min-height: 100vh;
    color:black;
    .contenedorDatos{
        display:flex;
        flex-direction: row;
        margin-top:10vw;
        padding:0 10%;
        div{
            img{
                width:20vw;
                border-radius:2em;
                margin-right:2vw;
                box-shadow: 2px 2px 2px 2px #000000;
            }
        }
        .datosPersonales{
            div{
                span{
                    padding-right:1vw;
                    
                }
            }
            p{
                margin-top:1vw;
            }
        }
    }
}