.contenedor{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:10vw;
    .datosImagen{
        display:flex;
        flex-direction: column;
        img{
            width: 20vw;
            margin-top:2vw;
            box-shadow: 2px 2px 2px 2px #000000;
            border-radius:1em;
        }
        span{
            margin-top:1vw;
        }
    }
}