<div *ngIf="loading==false">
  <app-loading>
  </app-loading>
</div>
<div *ngIf="loading==true">
  <h1>Películas similares</h1>
  <div class="contenedorPeliculas">
    <div class="contendorPelicula" *ngFor="let pelicula of peliculasSimilares">
      <img class="" src="{{url_imagen+pelicula.poster_path}}" alt="">
      <div class="descripcionPelicula">
        <h5>{{pelicula.title}}</h5>
        <p>{{pelicula.vote_average}} ★</p>
        <a [routerLink]="['/peliculas/',pelicula.id]">
          Ver más detalles
        </a>
        <p>{{pelicula.overview}}</p>
      </div>
    </div>
  </div>
</div>
